# Directory of input folder with (TF_records)
input_path: 'data/tfrecord/coor_42aug_new_data'

# Directory of output folder (Saved model and Result for tensorboard)
result_path: '/home/pasin/Documents/Pasin/model/jittering_test'

# Training Configs
batch_size: 4
checkpoint_min: 0.2
steps: 100000
learning_rate: 0.000684216428937189
dropout_rate: 0.332169017082756

# Activation function: '0' is relu, '1' is leaky relu
activation: '1'

# Number of channels in CNN layer
channels: 1

# Comments for config file
comment : "Try more metrics"

# Training options: ["single", "kfold", "grid", "search", "kfold_search"]
run_mode: "search"

# Label categories : ["Occ_B_median", "Occ_F_median", "Occ_L_median",
# "BL_median", "MD_median", "Integrity_median", "Width_median", "Surface_median", "Sharpness_median"]
# "Sharpness", "Taper", "Width"
label_type: 'Taper'

# Use current time as folder name (to prevent file overwriting)
use_current_time: false