batch_size: 32

checkpoint_min: 0.5

# Directory of input folder with (TF_records)
input_path: '/kw_resources/data/coor_0aug'

# Directory of output folder (model to save)
result_path: '/kw_resources/result/coor_0aug_MD'

# Training steps
steps: 50000

learning_rate: 0.0001
# learning_rate: 0.000007

dropout_rate: 0.3

# Activation function: '0' is relu, '1' is leaky relu
activation: '1'

# Number of channels in CNN layer
channels: 3

# Comment to write in config file
comment : "Batchnorm use old weighted loss to compare performance"

# Run options: ["single", "kfold", "search", "kfold_search"]
run_mode: "search"

# Score type options : ["Occ_B_median", "Occ_F_median", "Occ_L_median", "BL_median", "MD_median", "Integrity_median", "Width_median", "Surface_median", "Sharpness_median"]
# "Sharpness", "Taper", "Width"
label_type: 'Width_median'

# If true file, will be in folder of current time
use_current_time: false