batch_size: 4

checkpoint_min: 0.5

# Directory of input folder with (TF_records)
input_path: 'data/tfrecord/coor_augment14'

# Directory of output folder (model to save)
result_path: '/home/pasin/Documents/Pasin/model/debug'

# Training steps
steps: 5000

learning_rate: 0.0005
# learning_rate: 0.0000767764551237512
# learning_rate: 0.000007

# dropout_rate: 0.01
dropout_rate: 0.2

# Activation function: '0' is relu, '1' is leaky relu
activation: '1'

# Number of channels in CNN layer
channels: 3

# Comment to write in config file
comment : "New inititalization, always leaky relu"

# Run options: ["single", "kfold", "search", "kfold_search"]
run_mode: "search"

# Score type options : ["Occ_B_median", "Occ_F_median", "Occ_L_median",
# "BL_median", "MD_median", "Integrity_median", "Width_median", "Surface_median", "Sharpness_median"]
label_type: 'Width_median'