batch_size: 4

checkpoint_min: 1

input_path: 'data/tfrecord/coor_split/coor_split.tfrecords/'

result_path: '/home/pasin/Documents/Pasin/model/width_median/'

steps: 100

# learning_rate: 0.0001
learning_rate: 0.0000767764551237512

# dropout_rate: 0.01
dropout_rate: 0.6

activation: '1'  # 1 is leaky relu, 0 is relu

channels: 2

comment : "Test json, with combined data"

# run_mode options: ["single", "kfold", "search", "kfold_search"]
run_mode: "search"

# label_type options : ["Occ_B_median", "Occ_F_median", "Occ_L_median", "BL_median", "MD_median", "Integrity_median", "Width_median", "Surface_median", "Sharpness_median"]
label_type: 'Width_median'