batch_size: 4

checkpoint_min: 0.5

# Directory of input folder with (TF_records)
input_path: 'data/tfrecord/coor_42aug_real_point_new_data'
# input_path: 'data/tfrecord/coor_augment14'

# Directory of output folder (model to save)
result_path: '/home/pasin/Documents/Pasin/model/coor_42aug_real_point_new_data'

# Training steps
steps: 100000

learning_rate: 0.0001
# learning_rate: 0.0000767764551237512
# learning_rate: 0.000007

dropout_rate: 0.2

# Activation function: '0' is relu, '1' is leaky relu
activation: '1'

# Number of channels in CNN layer
channels: 3

# Comment to write in config file
comment : "Dropout enable"

# Run options: ["single", "kfold", "grid", "search", "kfold_search"]
run_mode: "search"

# Score type options : ["Occ_B_median", "Occ_F_median", "Occ_L_median",
# "BL_median", "MD_median", "Integrity_median", "Width_median", "Surface_median", "Sharpness_median"]
# "Sharpness", "Taper", "Width"
label_type: 'Width'

# If true file, will be in folder of current time
use_current_time: false