batch_size: 4

checkpoint_min: 0.5

# Directory of input folder with (TF_records)
input_path: '/home/pasin/Documents/Google_Drive/Aa_TIT_LAB_Comp/Library/Tooth/Model/my2DCNN/data/tfrecord/image_14aug'
# input_path: 'data/tfrecord/coor_augment14'

# Directory of output folder (model to save)
result_path: '/home/pasin/Documents/Pasin/model/image_14aug'

# Training steps
steps: 100000

# learning_rate: 0.0001
learning_rate: 0.000684216428937189
# learning_rate: 0.000007

dropout_rate: 0.332169017082756

# Activation function: '0' is relu, '1' is leaky relu
activation: '1'

# Number of channels in CNN layer
channels: 1

# Comment to write in config file
comment : "Now using another loss weight"

# Run options: ["single", "kfold", "grid", "search", "kfold_search"]
run_mode: "search"

# Score type options : ["Occ_B_median", "Occ_F_median", "Occ_L_median",
# "BL_median", "MD_median", "Integrity_median", "Width_median", "Surface_median", "Sharpness_median"]
# "Sharpness", "Taper", "Width"
label_type: 'Width_median'

# If true file, will be in folder of current time
use_current_time: false