batch_size: 32

checkpoint_min: 4

input_path: '/kw_resources/data/preparation_coor_300/preparation_coor_300_BL_median.tfrecords'

result_path: '/kw_resources/result/BL_coor_1dcnn'

steps: 100000

# learning_rate: 0.0001
# learning_rate: 0.0000767764551237512

# dropout_rate: 0.01
dropout_rate: 0.792792624970737

activation: '1'

#channels: 3
channels: 2

model_type: 1

comment : "1dCnn, single run"

is_workstation: True