batch_size: 4

checkpoint_min: 1

input_path: './data/tfrecord/preparation_coor_300/preparation_coor_300_BL_median.tfrecords'

result_path: '/home/pasin/Documents/Pasin/model/BL_coordinate_1dcnn_test'

steps: 10000

learning_rate: 0.0001

dropout_rate: 0.01

activation: '1'

channels: 3

loss_weight: 1

comment : "Has loss as hyperparameter, try loss weight, use EvalSpec step= 0"

is_workstation: False

