batch_size: 32

checkpoint_min: 4

#input_path: '/kw_resources/data/preparation_coor_300/preparation_coor_newer.tfrecords'

data_length: 50

data_degree: 4

result_path: '/kw_resources/result/BL_newer'

steps: 100000

# learning_rate: 0.0001
learning_rate: 0.0001

# dropout_rate: 0.01
dropout_rate: 0.5

activation: '1'

#channels: 3
channels: 2

model_type: 1

comment : "Leftside only"

is_workstation: False

is_kfold: False

# label_data = ["name", "Occ_B_median", "Occ_F_median", "Occ_L_median", "BL_median", "MD_median", "Integrity_median", "Width_median", "Surface_median", "Sharpness_median"]
label_type: 'BL_median'