batch_size: 4

checkpoint_min: 1

# input_path: 'data/tfrecord/left_segment/left_segment.tfrecords'
input_path: 'data/tfrecord/coor_augment/coor_augment.tfrecords'
#input_path: './data/tfrecord/preparation_coor_300/preparation_coor_300_BL_median.tfrecords'

result_path: '/home/pasin/Documents/Pasin/model/coor_augment_jsontest'

steps: 100000

# learning_rate: 0.0001
learning_rate: 0.0000767764551237512

# dropout_rate: 0.01
dropout_rate: 0.6

activation: '1'  # 1 is leaky relu, 0 is relu

#channels: 3
channels: 2

model_type: 1

comment : "Test json, test width as well"

is_workstation: False

is_kfold: False

data_length: 300

data_degree: 4

# label_data = ["name", "Occ_B_median", "Occ_F_median", "Occ_L_median", "BL_median", "MD_median", "Integrity_median", "Width_median", "Surface_median", "Sharpness_median"]
label_type: 'Width_median'