batch_size: 32

checkpoint_min: 4

#input_path: '/kw_resources/data/preparation_coor_300/preparation_coor_300_BL_median.tfrecords'
input_path: '/kw_resources/data/preparation_coor_450_kfold/preparation_coor_450_kfold_BL_median.tfrecords'

result_path: '/kw_resources/result/BL_coor_1d_450_kfold_new_2'

steps: 100000

# learning_rate: 0.0001
learning_rate: 0.0001

# dropout_rate: 0.01
dropout_rate: 0.7

activation: '1'

#channels: 3
channels: 2

model_type: 1

comment : "1dCnn no focal loss"

is_workstation: True

is_kfold: True