batch_size: 4

checkpoint_min: 1

input_path: './data/tfrecord/preparation_coor_300_kfold/preparation_coor_300_kfold_BL_median.tfrecords'
#input_path: './data/tfrecord/preparation_coor_300/preparation_coor_300_BL_median.tfrecords'

data_length = 300

data_degree = 4

result_path: '/home/pasin/Documents/Pasin/model/BL_debug'

steps: 100

# learning_rate: 0.0001
learning_rate: 0.0000767764551237512

# dropout_rate: 0.01
dropout_rate: 0.792792624970737

activation: '1'  # 1 is leaky relu, 0 is relu

#channels: 3
channels: 2

model_type: 1

comment : "BL with focal loss = 0"

is_workstation: False

is_kfold: True
