batch_size: 4

checkpoint_min: 5

input_path: './data/original_preparation_data_Taper_Sum.tfrecords'

result_path: '/home/pasin/Documents/Pasin/model/tooth_max_pooling_50'

steps: 200000

learning_rate: [0.0003, 0.0001, 0.001]

dropout_rate: [0.75, 0.5]

activation: ['0']

channels: [{channel:[64, 64, 128, 64, 64, 64, 64, 64, 64, 2048, 2048]},{channel:[32, 32, 64, 32, 32, 32, 32, 32, 32, 2048, 2048]}]

