batch_size: 8

checkpoint_min: 5

input_path: '/kw_resources/data/preparation_181_data_Taper_Sum_median.tfrecords'

result_path: '/kw_resources/result/tooth'

steps: 200000

learning_rate: [0.0003, 0.0001, 0.001]

dropout_rate: [0.25, 0.125]

activation: ['0','1']

channels: [{channel:[64, 64, 128, 64, 64, 64, 64, 64, 64, 2048, 2048]},{channel:[32, 32, 64, 32, 32, 32, 32, 32, 32, 2048, 2048]},{channel:[64, 64, 128, 64, 64, 64, 64, 64, 64, 4096, 2048]}]

