batch_size: 16

checkpoint_min: 4

input_path: '/kw_resources/data/preparation_181_data_Taper_Sum_median.tfrecords'

result_path: '/kw_resources/result/tooth_max_pooling_regression'

steps: 200000

learning_rate: 0.001

dropout_rate: 0.5

activation: '0'

channels: 1

loss_weight: 1

comment : "BL classification, should work fine now"