batch_size: 8

checkpoint_min: 4

input_path: '/kw_resources/data/preparation_361/preparation_361_MD_median.tfrecords'

result_path: '/kw_resources/result/MD_classification_weight_debug'

steps: 50000

learning_rate: 0.001

dropout_rate: 0.5

activation: '0'

channels: 1

model_type: 1

comment : "MD classification, weighted loss (debugged)"

is_workstation: False